.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}


/* Home */
.full-h-w-css{
  width: 100vw;
  height: 100vh;
}

/* About */
.about{
  display: flex;
  padding: 60px;
}
.about img{
  width: 50%;
}